In [150]:
import numpy as np #for arrays
import pandas as pd #loading data onto a table (dataframe)
from sklearn.model_selection import train_test_split #splits data into training and test data
from sklearn.linear_model import LogisticRegression #imports logistic regression base model
from sklearn.metrics import accuracy_score #used to find accuracy score
from sklearn.preprocessing import StandardScaler #for standardizing data to same range
import pickle

In [151]:
data = pd.read_csv('data.csv')
data.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [152]:
data = data.drop(columns=['PEER_PRESSURE'])
data.shape

(309, 15)

In [153]:
data['LUNG_CANCER'].value_counts()

YES    270
NO      39
Name: LUNG_CANCER, dtype: int64

In [154]:
GENDER = []
for gender in data['GENDER']:
    if (gender == 'M'):
        GENDER.append(1)
    else:
        GENDER.append(2)

data = data.drop(columns='GENDER')
data['GENDER'] = GENDER

x = data.drop(columns=['LUNG_CANCER'])
y = data['LUNG_CANCER']

scaler = StandardScaler()

scaler.fit(x)
standardized_data = scaler.transform(x)

print(standardized_data)

[[ 0.77185028 -1.13529242  0.86929961 ...  1.06350105  0.892475
  -0.95257934]
 [ 1.38182914  0.88083033 -1.15035137 ...  1.06350105  0.892475
  -0.95257934]
 [-0.44810745 -1.13529242 -1.15035137 ... -0.94029056  0.892475
   1.04978132]
 ...
 [-0.57010322  0.88083033 -1.15035137 ... -0.94029056  0.892475
  -0.95257934]
 [ 0.52785873  0.88083033 -1.15035137 ... -0.94029056  0.892475
  -0.95257934]
 [-0.08212013 -1.13529242 -1.15035137 ...  1.06350105 -1.12047956
  -0.95257934]]

In [155]:
data.head()

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER,GENDER
0,69,1,2,2,1,2,1,2,2,2,2,2,2,YES,1
1,74,2,1,1,2,2,2,1,1,1,2,2,2,YES,1
2,59,1,1,1,1,2,1,2,1,2,2,1,2,NO,2
3,63,2,2,2,1,1,1,1,2,1,1,2,2,NO,1
4,63,1,2,1,1,1,1,2,1,2,2,1,1,NO,2

In [156]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.085, stratify=y, random_state=1)

In [ ]:
model = LogisticRegression()

model.fit(x_train, y_train)

In [158]:
x_train_pred = model.predict(x_train)
train_data_accuracy = accuracy_score(x_train_pred, y_train)

print("Accuracy of training data: ", train_data_accuracy*100, "%")

Accuracy of training data:  92.5531914893617 %

In [159]:
x_test_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_pred, y_test)

print("Accuracy of test data: ", test_data_accuracy*100, "%")

Accuracy of test data:  88.88888888888889 %

In [160]:
#Making the prediction system

input_data = (63,1,2,1,1,1,1,2,1,2,2,1,1,2)
#changing the input_data to numpy array
input_data_as_array = np.asarray(input_data)

#reshape array to predict for one instance
data_reshaped = input_data_as_array.reshape(1, -1)

In [ ]:
pred = model.predict(data_reshaped)

if (pred[0] == 'YES'):
    print('You may have lung cancer')
else:
    print('You may not have lung cancer')

In [163]:
with open('model', 'wb') as file:
    pickle.dump(model, file)

In [165]:
with open('model', 'rb') as file:
    mod = pickle.load(file)

In [ ]:
mod.predict([[63,1,2,1,1,1,1,2,1,2,2,1,1,2]])